<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.ridgerun.gstshark.commands.showdot"
            class="com.ridgerun.gstshark.handlers.ShowDotHandler">
      </handler>
      <handler
            commandId="com.ridgerun.gstshark.commands.opentrace"
            class="com.ridgerun.gstshark.handlers.OpenTrace">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <!-- GstTune Main Menu Interface -->
         <menu
               id="com.ridgerun.gstshark.menus.gstsharkMenu"
               label="GstShark"
               mnemonic="M">
            <!-- Pipeline Graphics -->
            <command
                  commandId="com.ridgerun.gstshark.commands.showdot"
                  label="Show Pipeline Diagram"
                  id="com.ridgerun.gstshark.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <!-- GstTune Menu Options Others -->
            <command
                  commandId="com.ridgerun.gstshark.commands.opentrace"
                  label="Open Trace..."
                  style="push">
            </command>   
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ridgerun.gstshark.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
</plugin>
